@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6af2e;
    font-family: "Sour Gummy", sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.title-container {
    font-size: 45px;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.generate-field-button,
.reset-button {
    font-size: 16px;
    background-color: #191716;
    color: #e0e2db;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 50px;
    width: 150px;
    border-radius: 0.25rem;
    align-self: center;
    cursor: pointer;
    font-family: "Sour Gummy", sans-serif;
}

.box-container {
    margin-top: 5rem;
    border: 4px solid #191716;
    background-color: #e0e2db;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0.25rem;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-flow: column-reverse;
    flex-wrap: wrap;
}